In [1]:
import pandas as pd
from pivottablejs import pivot_ui

df = pd.read_csv("weblog.csv")
df.head()

,ip address,day,month,year,hour,minute,second,offset,HTTP error code 200/404
0,104.229.180.74,4,3,2018,21,32,18,UTC+00,404
1,104.229.180.74,4,3,2018,21,32,18,UTC+00,404
2,104.229.180.74,4,3,2018,21,32,24,UTC+00,404
3,104.229.180.74,5,3,2018,2,12,32,UTC+00,200
4,104.229.180.74,5,3,2018,2,12,32,UTC+00,200

In [3]:
pivot_ui(df)